
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.logo-icon {
  max-width: 75px;
}

.login-form h1 {
  color: #333;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.login-form form {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.login-container .input-group {
  margin-bottom: 20px;
  direction: rtl;
}

.login-container .input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  font-family: inherit;
  text-align: right;
}

.login-container .input-group input:focus,
.login-container .input-group select:focus {
  outline: none;
  border-color: #FFB511;
  box-shadow: 0 0 0 2px rgba(255, 181, 17, 0.2);
}

.login-container .governorate-select {
  cursor: pointer;
}

.login-container .governorate-select option {
  background-color: #f2f2f2;
}

.login-container .error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  text-align: right;
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #00b3e6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
  background: #00b4e6d0;
}

.login-container  .auth-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.login-container .auth-link a {
  color: #FFB511;
  text-decoration: none;
  font-weight: bold;
}

.login-container .auth-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-container .login-form , .login-container .login-form form {
    padding: 20px;
  }
}
